<ngx-datatable
  class="material"
  [ngClass]="{'no-selection' : selectionType !== 'single'}"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [columns]="columns"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="limitRows ? limitRows : 10"
  rowHeight="auto"
  [scrollbarH]="true"
  [reorderable]="reorderable"
  [selectionType]="selectionType ? selectionType : 'single'"
  [selected]="rowsSelected"
  [messages]="{
    emptyMessage: 'Não há dados a serem mostrados',
    totalMessage: 'total',
    selectedMessage: 'selecionados'
  }"
  (select)="onSelect($event)"
  (dblclick)="doubleClick()"
  >
</ngx-datatable>