.footer {
  padding: 12px 0 12px 0 !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  font-size: 14px !important;
}

.align-center {
  display: flex !important;
  justify-content: center;
}

.no-selection .datatable-body-row.active {
  background-color: transparent !important;
}

.datatable-body-row.active .datatable-row-group {
  background:  transparent !important;
}
